body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.home {
  min-height: 500px;
  margin-top: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/261985/pexels-photo-261985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.home h1{
  margin-top: 0;
}

.list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border-radius: 10px;
  background-color: rgba(134, 157, 177, 0.863);
  text-align: center;
}
.card img{
  width: 90%;
  margin-top: 10px;
  border-radius: 10px;
}

.cart{
  margin-left: 100px;
  padding-top: 20px;
}

.productInCart{
  width: 50vw;
  min-height: 200px;
  display: flex;
  text-align: center;
  background: white;
  margin-top: 20px;
  justify-content: space-between;
}

.productInCart-img{
  width: auto;
  height: 100px;
  margin-top: 10px;
  margin-left: 25px;
}

.cartPage{
  background-color: rgb(189 197 204);
  min-height: 100vh;
}

.cartPage__title{
  margin-left: 40%;
}

.productInCart__left{
  display: flex;
}

.productInCart-info{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

#buy_now{
  color: rgb(79 144 70);
  font-weight: 900;
  text-align: left;
}

#quantity-inp{
  width: 23px;
  border-radius: 5px;
  border: 1px solid rgb(168, 161, 161);
}

.cart-product-title{
  text-align: left;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 900;
  margin: 15px 0 10px 0;
}

.cart-product-price{
  text-align: left;
  margin: 0;
  /* font-weight: 600; */
  margin-bottom: 5px;
  color: rgb(121, 117, 117);
}

.cart-product-info{
  font-weight: 600;
  font-size: 15px;
}

.remove{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
  color: rgb(78, 73, 73);
}

.productInCart__right{
  margin-right: 30px;
}

.cart-product-subPrice{
  font-weight: 600;
  letter-spacing: 1px;
}

.remove-from-cart{
  transition: 1s;
  font-weight: 600;
}

.remove-from-cart:hover{
  transition: 0.6s;
  color: red;
  cursor: pointer
}

.add{
  display: flex;
  align-items: center;
}

.cartPage-products__right{
  background: white;
  text-align: center;
  /* height: 100px; */
  margin-top: 20px;
  margin-right: 40px;
  width: 35%;
}

#cart-totalPrice{
  font-size: 20px;
  margin: 20px 0 0 30px;
}

.underline{
  border-bottom: 1px solid rgb(151, 149, 149);
  margin-top: 5px;
}

.cartPage-products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-totalPrice__subPrice{
  margin: 10px 0 0 30px;  
}

.cart-totalPrice__subPrice_subTotal{
  font-size: 17px;
  margin: 0px;
}

.cart-totalPrice__subPrice_price{
  margin-right: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product__subPrice, .delivery__subPrice{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery__subPrice{
  margin-top: 5px;
}

#info-icon{
  color: gray;
}

#standard-delivery{
  margin-top: 10px;
  color: gray;
  text-align: left;
}

#checkout-btn{
  margin: 20px 0;
  text-align: center;
  width: 50%;
  height: 50px;
  background-color: #4e8f46;
  border: none;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

#clear-cart{
  text-align: left;
}

@media screen and (max-width: 1080px){
  .cart-product-title{
    font-size: 15px;
  }

  .cart-product-info{
    font-size: 13px;
  }
}